.App {
  height: 100vh;
  background-color: lightslategray;
  text-align: center;
}

.TextMain {
  padding-top: 0%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 7vh;
  background-color: lightgray;

}

.Header {
  background-color: darkgrey;
  text-align: center;
  font-size: 4vh;
  height: 25vh;
  padding-bottom: 0%;
}

.ButtonWordChange {
background-color: lightsteelblue;
height: 5vh;
width: 15vw;
}